/* CSS FOR SIGNUP FORM*/

.form-control {
    height: 6vh;
}

.form-check {
    font-size: 13px;
}

.checkbox-heading {
    color: rgb(241, 79, 98);
    font-weight: bold;
    text-decoration: none;
}

.checkbox-heading:hover {
    background-color: white;
    color: rgb(241, 79, 98);
}

.create-account {
    height: 6vh;
    width: 100%;
    margin-top: 4%;
    color: white;
    margin-bottom: 4%;
    background-color: #EF4F5F;
    border: 1px solid white;
    border-radius: 10px;
}

.create-account:hover {
    background-color: rgb(232, 50, 71);
}

.already {
    font-size: 19px;
}

.signup-button {
    text-decoration: none;
    color: rgb(241, 79, 98);
}

.signup-button:hover {
    color: rgb(232, 50, 71);
}