.main-card {
    box-shadow: 0px 4px 5px 3px rgb(232, 232, 232);
    margin-bottom: 22px;
}

.card-heading {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.card-paragraph {
    font-size: 18px;
    font-weight: 300 !important;
    color: #4f4f4f;
    letter-spacing: 0.04em;
}

.card-report {
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    color: #ef4f5f;
    letter-spacing: 0.04em;
}


@media (max-width: 320px) {

    .main-card {
        width: 285px !important;
        height: 150px;
        margin-bottom: -13px;
        border: none;
        border-radius: none;
        box-shadow: 0px 0px 0px 0px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 18px !important;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-paragraph {
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.01em;
    }

    .card-report {
        text-decoration: none;
        font-size: 14px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.01em;
    }

}

@media (min-width: 321px) and (max-width:380px) {

    .main-card {
        width: 285px !important;
        height: 150px;
        margin-bottom: -13px;
        border: none;
        border-radius: none;
        box-shadow: 0px 0px 0px 0px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 18px !important;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-paragraph {
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.01em;
    }

    .card-report {
        text-decoration: none;
        font-size: 14px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.01em;
    }

}

@media (min-width: 381px) and (max-width:420px) {

    .main-card {
        width: 285px !important;
        height: 150px;
        margin-bottom: -13px;
        border: none;
        border-radius: none;
        box-shadow: 0px 0px 0px 0px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 18px !important;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-paragraph {
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.01em;
    }

    .card-report {
        text-decoration: none;
        font-size: 14px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.01em;
    }

}

@media (min-width: 421px) and (max-width:576px) {

    .main-card {
        width: 285px !important;
        height: 150px;
        margin-bottom: -13px;
        border: none;
        border-radius: none;
        box-shadow: 0px 0px 0px 0px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 18px !important;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-paragraph {
        font-size: 14px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.01em;
    }

    .card-report {
        text-decoration: none;
        font-size: 14px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.01em;
    }

}

@media (min-width: 577px) and (max-width:768px) {

    .main-card {
        width: 255px !important;
        height: 240px;
        box-shadow: 0px 4px 5px 3px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 24px !important;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .card-paragraph {
        font-size: 18px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.02em;
    }

    .card-report {
        text-decoration: none;
        font-size: 18px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.02em;
    }

}

@media (min-width: 769px) and (max-width:992px) {
   
    .main-card {
        width: 300px !important;
        height: 235px;
        box-shadow: 0px 4px 5px 3px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 24px !important;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .card-paragraph {
        font-size: 18px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.02em;
    }

    .card-report {
        text-decoration: none;
        font-size: 18px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.02em;
    }

}

@media (min-width: 992px) and (max-width:1200px) {
  
    .main-card {
        width: 275px !important;
        height: 240px;
        box-shadow: 0px 4px 5px 3px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 24px !important;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .card-paragraph {
        font-size: 18px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.02em;
    }

    .card-report {
        text-decoration: none;
        font-size: 18px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.02em;
    }

}

@media (min-width: 1200px) and (max-width:1400px) {

    .main-card {
        width: 375px !important;
        height: 200px;
        box-shadow: 0px 4px 5px 3px rgb(232, 232, 232);
    }

    .card-heading {
        font-size: 24px !important;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .card-paragraph {
        font-size: 18px !important;
        font-weight: 300 !important;
        color: #4f4f4f;
        letter-spacing: 0.02em;
    }

    .card-report {
        text-decoration: none;
        font-size: 18px;
        font-weight: 550;
        color: #ef4f5f;
        letter-spacing: 0.02em;
    }

}