body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-heading {
    margin-top: 7%;
    margin-left: 12%;
    font-weight: 400;
    font-style: normal;
}

.localities {
    width: 80%;
    height: 12vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.localities-anchor {
    border: 1px solid rgb(232, 232, 232);
    text-decoration: none;
    color: black;
    height: 10vh;
    width: 30%;
    margin-top: 4%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    cursor: pointer;
}

.localities-anchor:hover {
    box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
    background-color: #FFFFFF;
    color: black;
}

.areas-heading {
    font-size: 21px;
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 350;
    font-style: normal;
}

.areas-name {
    font-size: 17px;
    font-weight: 350;
    margin-left: 3%;
}

.areas-heading-last {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-top: 7%;
}


@media (max-width: 450px) {

    .main-heading {
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: 0.03em;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    .localities {
        width: 90%;
        height: 268px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        height: 75px;
        width: 100%;
        padding: 10px;
        padding-bottom: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }
}

@media (min-width: 450px) and (max-width: 768px) {

    .main-heading {
        text-align: left;
        font-size: 36px;
        font-weight: 450;
        font-style: normal;
        letter-spacing: 0.02em;
        width: 88%;
        margin: auto;
        margin-top: 70px;
    }

    .localities {
        width: 92%;
        height: 60px;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 45px;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        height: 80px;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }


}

@media (min-width: 768px) and (max-width: 992px) {

    .main-heading {
        text-align: center;
        font-size: 36px;
        font-weight: 450;
        font-style: normal;
        letter-spacing: 0.02em;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }

    .localities {
        width: 90%;
        height: 60px;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 45px;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        height: 80px;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }


}

@media (min-width: 992px) and (max-width: 1200px) {

    .main-heading {
        text-align: left;
        font-size: 36px;
        font-weight: 450;
        font-style: normal;
        letter-spacing: 0.02em;
        width: 88%;
        margin: auto;
        margin-top: 70px;
    }

    .localities {
        width: 92%;
        height: 60px;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 45px;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        height: 80px;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }


}

@media (min-width: 1200px) and (max-width: 1400px) {

    .main-heading {
        text-align: center;
        font-size: 36px;
        font-weight: 450;
        font-style: normal;
        letter-spacing: 0.02em;
        width: 80%;
        margin: auto;
        margin-top: 70px;
    }

    .localities {
        width: 90%;
        height: 60px;
        margin: auto;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 45px;
    }

    .localities-anchor {
        border: 1px solid rgb(232, 232, 232);
        text-decoration: none;
        color: black;
        height: 80px;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        letter-spacing: 0.03em;
        box-sizing: border-box;
        cursor: pointer;
        line-height: 20px;
    }

    .localities-anchor:hover {
        box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
        background-color: #FFFFFF;
        color: black;
    }

    .areas-heading {
        font-size: 14px;
        margin-left: 3%;
        margin-top: 3%;
        font-weight: 500;
        font-style: normal;
    }

    .areas-name {
        font-size: 16px;
        font-weight: 300;
        margin-left: 3%;
    }

    .areas-heading-last {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }


}