body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-container {
    width: 76%;
    margin: auto;
}

.collapse-heading {
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
}

.panel {
    margin-top: 2%;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    color: #1c1c1c;
    background-color: white;
    border: 1px solid #E8E8E8 !important;
    border-radius: 10px !important;
    border-style: unset;
    letter-spacing: 0.03em;
    padding: 1px 1px;
}

.panel:hover {
    box-shadow: 0.6px 0.6px gainsboro;
    color: black;
}


@media (max-width: 380px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 80%;
        height: 400px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 35px;
        margin-bottom: 3%;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 18px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}

@media (max-width: 380px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 90%;
        height: 350px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 2px;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}

@media (min-width: 380px) and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 92%;
        height: 350px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 4px;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 95%;
        height: 400px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 50px;
        margin-bottom: 3%;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 90%;
        height: 400px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 50px;
        margin-bottom: 3%;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 25px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .main-container {
        width: 85%;
        height: 400px;
        margin: auto;
    }

    .collapse-heading {
        margin-top: 50px;
        margin-bottom: 3%;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
    }

    .panel {
        margin-top: 25px;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #1c1c1c;
        background-color: white;
        border: 1px solid #E8E8E8 !important;
        border-radius: 10px !important;
        border-style: unset;
        letter-spacing: 0.03em;
        padding: 1px 1px;
    }

    .panel:hover {
        box-shadow: 0.6px 0.6px gainsboro;
        color: black;
    }
}