body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-1 {
    margin-top: 8%;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: #FEFBF6;
}

.left-part {
    width: 45%;
    height: 60vh;
}

.left-part img {
    width: 40%;
    height: 40vh;
    margin-left: 50%;
    margin-top: 10%;
    object-fit: contain;
}

.right-part {
    width: 55%;
    height: 60vh;
}

.zomato-heading {
    margin-top: 6%;
    font-size: 47px;
    letter-spacing: 0.03em;
}

.zomato-paragraph {
    width: 58%;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.contact {
    display: flex;
    width: 50%;
}

.contact-1 {
    display: flex;
    width: 80%;
    margin-top: 2%;
}

.phone {
    margin-left: 6%;
    color: black !important;
}

.radio-email {
    font-weight: 300 !important;
    font-size: 17px;
}

.radio-phone {
    font-weight: 300 !important;
    font-size: 17px;
}

.email-1 {
    width: 45%;
    height: 6vh;
}

.email-2 {
    margin-left: 5%;
    width: 40%;
}

.download-link-1 {
    display: flex;
    width: 41%;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    margin-left: 0.2%;
}

.android {
    width: 100%;
    height: 10vh;
}

.ios {
    width: 100%;
    height: 10vh;
}

.android-image-1 {
    object-fit: fill;
    width: 9rem;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
}

.ios-image-1 {
    object-fit: fill;
    width: 9rem;
    height: 2.5rem;
    overflow: hidden;
    position: absolute;
}

.download-app {
    font-weight: 350;
    color: #9c9c9c;
    margin-top: 2%;
    font-size: 15px;
    letter-spacing: 0.02em;
}


/* ant design */

.ant-radio-checked .ant-radio-inner {
    background-color: white !important;
    border-color: red !important;
    border: 9px solid red !important;
}

.ant-radio-checked .ant-radio-inner:after {
    border-color: red !important;
    background-color: white !important;
}

.ant-radio:hover .ant-radio-inner {
    background-color: white !important;
    border: 8px solid red !important;
}

.ant-radio-checked .ant-radio-inner:focus {
    background-color: red !important;
}



@media (max-width: 380px) {
    .main-1 {
        margin-top: 8%;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #FEFBF6;
    }

    .left-part {
        display: none;
    }

    .right-part {
        width: 95%;
        height: 60vh;
    }

    .zomato-heading {
        margin-top: 15%;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .zomato-paragraph {
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 120%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 220px;
        height: 48px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 15px;
        width: 135px;
    }

    .email-1 input {
        height: 6vh;
    }

    .email-2 button {
        height: 6vh;
        margin-left: 5px;
    }

    .download-link-1 {
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
    }

    .android-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: center;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 380px) and (max-width: 450px) {
    .main-1 {
        margin-top: 8%;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #FEFBF6;
    }

    .left-part {
        display: none;
    }

    .right-part {
        width: 95%;
        height: 60vh;
    }

    .zomato-heading {
        margin-top: 15%;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .zomato-paragraph {
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 120%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 220px;
        height: 48px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 15px;
        width: 135px;
    }

    .email-1 input {
        height: 6vh;
    }

    .email-2 button {
        height: 6vh;
        margin-left: 5px;
    }

    .download-link-1 {
        display: flex;
        width: 85%;
        margin: auto;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
    }

    .android-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: center;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 450px) and (max-width: 576px) {
    .main-1 {
        margin-top: 70px;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        background-color: #FEFBF6;
    }

    .left-part {
        display: none;
    }

    .right-part {
        width: 95%;
        height: 60vh;
    }

    .zomato-heading {
        margin-top: 50px;
        margin-left: 10px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: left;
    }

    .zomato-paragraph {
        width: 80%;
        font-weight: 300;
        margin-left: 10px;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: left;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 320px;
        height: 48px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 15px;
        width: 185px;
    }

    .email-1 input {
        height: 6vh;
        margin-left: 2px;
    }

    .email-2 button {
        height: 6vh;
        margin-left: 15px;
    }

    .download-link-1 {
        display: flex;
        width: 100%;
        margin: auto;
        justify-content: left;
        height: 10vh;
        align-items: center;
    }

    .android-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: contain;
        overflow: hidden;
        position: absolute;
        margin-left: -70px;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        margin-left: 5px;
        margin-bottom: 30px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .main-1 {
        margin-top: 120px;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        background-color: #FEFBF6;
    }

    .left-part {
        width: 50%;
        height: 40vh;
    }

    .left-part-image {
        width: 100%;
        object-fit: cover;
        transform: scale(1.8);
        transition: all 1.4s ease 0s;
        padding-bottom: 50px;
    }

    .right-part {
        width: 50%;
        height: 40vh;
        margin-left: 50px;
    }

    .zomato-heading {
        margin-top: 80px;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 10px;
    }

    .zomato-paragraph {
        width: 52%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 10px;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 222px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 18px;
        width: 150px;
    }

    .email-1 input {
        height: 4vh;
        margin-left: 4px;
    }

    .email-2 button {
        height: 4vh;
        margin-left: 5px;
    }

    .download-link-1 {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
        margin-left: 2%;
    }


    .android-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-left: 10px;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .main-1 {
        margin-top: 120px;
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: center;
        background-color: #FEFBF6;
    }

    .left-part {
        width: 40%;
        height: 30vh;
    }

    .left-part-image {
        width: 100%;
        object-fit: cover;
        transform: scale(1.6);
        transition: all 1.4s ease 0s;
        padding-bottom: 50px;
    }

    .right-part {
        width: 60%;
        height: 30vh;
        margin-left: 50px;
    }

    .zomato-heading {
        margin-top: 80px;
        font-size: 46px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 5px;
    }

    .zomato-paragraph {
        width: 85%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-left: 10px;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 300px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 18px;
        width: 240px;
    }

    .email-1 input {
        height: 4vh;
        margin-left: 4px;
    }

    .email-2 button {
        height: 4vh;
        margin-left: 12px;
    }

    .download-link-1 {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
        margin-left: 5px;
    }


    .android-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-left: 5px;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-1 {
        margin-top: 160px;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        background-color: #FEFBF6;
    }

    .left-part {
        width: 40%;
        height: 80vh;
    }

    .left-part-image {
        width: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transition: all 1.4s ease 0s;
        margin-top: 130px !important;
        padding-top: 30px;
    }

    .right-part {
        width: 60%;
        height: 80vh;
    }

    .zomato-heading {
        margin-top: 80px;
        font-size: 46px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 5px;
    }

    .zomato-paragraph {
        width: 78%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-left: 10px;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 300px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 18px;
        width: 240px;
    }

    .email-1 input {
        height: 8vh;
        margin-left: -20px;
    }

    .email-2 button {
        height: 8vh;
    }

    .download-link-1 {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
        margin-left: 8px;
    }


    .android-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-left: 8px;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .main-1 {
        margin-top: 160px;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        background-color: #FEFBF6;
    }

    .left-part {
        width: 40%;
        height: 40vh;
    }

    .left-part-image {
        width: 100%;
        object-fit: cover;
        transform: scale(1.3);
        transition: all 1.4s ease 0s;
        padding-bottom: 50px;
    }

    .right-part {
        width: 60%;
        height: 40vh;
        margin-left: 50px;
    }

    .zomato-heading {
        margin-top: 80px;
        font-size: 46px;
        font-weight: 500;
        letter-spacing: 0.03em;
        text-align: left;
        margin-left: 5px;
    }

    .zomato-paragraph {
        width: 70%;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-align: left;
        margin-left: 10px;
    }

    .contact {
        margin-top: 20px;
        display: flex;
        justify-content: left;
        width: 100%;
        margin-left: 10px;
    }

    .contact-1 {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
    }

    .radio-email {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .radio-phone {
        font-weight: 300 !important;
        font-size: 17px;
    }

    .email-1 {
        margin-top: 15px;
        width: 350px;
    }

    .email-2 {
        margin-top: 15px;
        margin-left: 18px;
        width: 240px;
    }

    .email-1 input {
        height: 4vh;
        margin-left: -90px;
    }

    .email-2 button {
        height: 4vh;
        margin-left: -80px;
    }

    .download-link-1 {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        height: 10vh;
        align-items: center;
        margin-left: 8px;
    }


    .android-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .ios-image-1 {
        object-fit: cover;
        width: 167px;
        height: 50px;
        overflow: hidden;
        position: absolute;
    }

    .download-app {
        font-weight: 350;
        color: #9c9c9c;
        margin-top: 12px;
        font-size: 15px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-left: 8px;
    }


    /* ant design */

    .ant-radio-checked .ant-radio-inner {
        background-color: white !important;
        border-color: red !important;
        border: 9px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:after {
        border-color: red !important;
        background-color: white !important;
    }

    .ant-radio:hover .ant-radio-inner {
        background-color: white !important;
        border: 8px solid red !important;
    }

    .ant-radio-checked .ant-radio-inner:focus {
        background-color: red !important;
    }
}