body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.main-collection {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.collection-heading {
    margin-top: 2%;
    margin-bottom: 0.3%;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}

.collection-paragraph {
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
}

.mobile-collection {
    display: none;
}

.city-collection {
    margin-right: 1%;
    margin-top: 5.4%;
    font-weight: 550;
    font-size: 17px;
    font-style: normal;
    letter-spacing: 0.02em;
}

.city-collection a {
    text-decoration: none;
    color: rgb(238, 106, 121);
    font-weight: 300;
    font-style: normal;
}

.city-collection a:hover {
    color: rgb(238, 106, 121);
}

.collection {
    display: flex;
    width: 76%;
    justify-self: space-evenly;
    margin: auto;
    height: 40vh;
}

.collection-item {
    border: 1px solid gainsboro;
    height: 37vh;
    width: 128%;
    border-radius: 20px;
    margin-left: -14%;
    position: relative;
    text-align: center;
    color: white;
}

.collection-item img {
    width: 100%;
    height: 37vh;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    object-fit: cover;
}

.collection-anchor {
    width: 30%;
    text-decoration: none;
    color: black;
    margin: auto;
    margin-left: 3%;
    margin-right: 3%;
}

.bottom-left {
    position: absolute;
    bottom: 26px;
    left: 16px;
    font-size: 18px;
    color: white;
}

.bottom-left1 {
    position: absolute;
    bottom: 2px;
    left: 16px;
    font-size: 18px;
    color: white;
}


@media (max-width: 380px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }

    .collection-heading {
        margin-top: 2%;
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -2%;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }

    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: auto;
        margin-top: 2%;
    }

    .mobile-collection-anchor {
        width: 175px;
        height: 180px;
        margin: auto;
    }

    .mobile-collection-item {
        width: 150px;
        height: 180px;
        margin: auto;
    }

    .mobile-collection-item img {
        width: 145px;
        height: 177px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        margin-left: 3px;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 1%;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 1%;
        font-weight: 500;
        text-decoration: none !important;
    }

}
@media (max-width: 600px) {
    .main-collection {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        margin: auto;
        margin-top: 5%;
    }

    .collection-heading {
        margin-top: 2%;
        font-weight: 500;
        font-style: normal;
        font-size: 20pt;
    }

    .collection-paragraph {
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        margin-bottom: -2%;
    }

    .city-collection {
        margin-right: 1%;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 0.02em;
    }

    .city-collection a {
        text-decoration: none;
        color: rgb(238, 106, 121);
        font-weight: bold;
        font-style: normal;
    }

    .collection {
        display: none;
    }

    .city-collection a:hover {
        color: rgb(238, 106, 121);
    }

    .mobile-collection {
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: auto;
        margin-top: 2%;
    }

    .mobile-collection-anchor {
        width: 160px;
        height: 180px;
        margin: auto;
    }

    .mobile-collection-item {
        width: 160px;
        height: 180px;
        margin: auto;
    }

    .mobile-collection-item img {
        width: 150px;
        height: 177px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        object-fit: cover;
        margin-left: 3px;
    }

    .mobile-bottom-left {
        position: relative;
        font-size: 14px;
        color: white;
        margin-left: 1%;
        margin-bottom: 5%;
        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;
        margin-top: -30%;
        font-weight: 500;
        text-decoration: none;
    }

    .mobile-bottom-left1 {
        position: relative;
        margin-top: -5%;
        font-size: 14px;
        color: white;
        margin-left: 1%;
        font-weight: 500;
        text-decoration: none !important;
    }

}