body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-heading {
    margin-top: 7%;
    margin-left: 12%;
    font-weight: 400;
    font-style: normal;
}

.localities {
    width: 80%;
    height: 12vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.localities-anchor {
    border: 1px solid rgb(232, 232, 232);
    text-decoration: none;
    color: black;
    height: 10vh;
    width: 30%;
    margin-top: 4%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 0.03em;
    box-sizing: border-box;
    cursor: pointer;
}

.localities-anchor:hover {
    box-shadow: 0px 4px 10px 0px rgb(232, 232, 232);
    background-color: #FFFFFF;
    color: black;
}

.areas-heading {
    font-size: 21px;
    margin-left: 3%;
    margin-top: 3%;
    font-weight: 350;
    font-style: normal;
}

.areas-name {
    font-size: 17px;
    font-weight: 350;
    margin-left: 3%;
}

.areas-heading-last {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-top: 7%;
}